<div class="room-pane panel panel-default">
    <div class="panel-heading">
        {{name}}, {{user}}
    </div>
    <div class="panel-body">
        {{#each message in messages}}
            {{message.body}}
        {{/each}}
    </div>
    <ul class="list-group">
        {{#each message in messages}}
            <li class="list-group-item">
                {{message.body}}
            </li>
        {{/each}}
    </ul>
    <div class="message-input panel-footer">
        {{message-input action="sendMessage"}}
    </div>
</div>