<div class="room-pane panel panel-default">
    <div class="panel-heading">
        {{name}}
    </div>
    <ul class="list-group">
        {{#each message in messages}}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-1">{{message.from}}</div>
                    <div class="col-sm-10">{{message.body}}</div>
                    <div class="col-sm-1">{{message.timestamp}}</div>
                </div>
            </li>
        {{/each}}
    </ul>
    <div class="message-input panel-footer">
        {{message-input action="sendMessage"}}
    </div>
</div>